.container {
  position: relative;
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  border: 2px solid;
  border-radius: 5px;
}

.container .input:-webkit-autofill,
.container .input:-webkit-autofill:hover,
.container .input:-webkit-autofill:focus,
.container .input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px var(--theme-background-color) inset;
  -webkit-text-fill-color: var(--theme-text-color) !important;
  transition: background-color 5000s ease-in-out 0s;
}

.input {
  flex: 1;
  height: 100%;
  padding-left: 10px;
  border: none;
  outline: none;
  color: var(--theme-text-color);
  font-size: 14px;
  background: transparent;
}

.icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #aaa;
}

.container:focus-within .icon {
  color: #4169E1;
}