.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 20px 0 20px;
}

.topSection {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin-bottom: 2rem;
  width: 100%;
}

.title {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
}

.btn {
    width: 120px;
    height: 40px;
    background-color: #50c082;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: #ccc;
    font-weight: bold;
    transition: opacity 0.2s;
}

.btn:hover {
  opacity: 0.9;
}

.contentSection {
  width: 100%;
  display: flex;
  justify-content: flex-start; 
}

@media (max-width: 768px) {
    .container {
        padding-left: 0;
        padding: 80px 15px 20px 15px;   
    }
  .topSection {
    flex-direction: column; 
    gap: 1rem;
    align-items: flex-start;
  }
  
  .btn {
    width: 100%; 
  }
}



