.container {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 20px 0 20px;
}

.topSection {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  margin-bottom: 2rem;
  width: 100%;
}

.title {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 600;
}

.splitButton {
  display: inline-flex;
  border-radius: 12px;
  overflow: hidden; /* essencial para unir visualmente */
  background-color: #50c082;
}

.mainButton {
  padding: 0 24px;
  height: 48px;
  border: none;
  background: transparent;
  color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.arrowButton {
  width: 52px;
  height: 48px;
  border: none;
  background: transparent;
  color: #ffffff;
  cursor: pointer;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-left: 2px solid rgba(255, 255, 255, 0.7);
}

.mainButton:hover,
.arrowButton:hover {
  background-color: rgba(0, 0, 0, 0.08);
}

.contentSection {
  width: 100%;
  display: flex;
  justify-content: flex-start; 
}

@media (max-width: 768px) {
    .container {
        padding-left: 0;
        padding: 80px 15px 20px 15px;   
    }
  .topSection {
    flex-direction: column; 
    gap: 1rem;
    align-items: flex-start;
  }
  
  .btn {
    width: 100%; 
  }
}



