.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
}

.btn {
    width: 120px;
    height: 40px;
    background-color: #50c082;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    color: #ccc;
    font-weight: bold;
}