* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #202020;
    color: #ffffff;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}