.container {
    display: flex;
    gap: 25px;
    margin-bottom: 40px;
    flex-wrap: wrap; 
}

/*
.card {
    padding: 25px;
    flex: 1;
    border-radius: 12px; 
    background-color: #242424;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.04); 
    min-width: 280px;
    transition: transform 0.3s ease;
}
*/

.card {
    background-color: #242424;
    width: 280px;
    height: 160px;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.card:hover {
    transform: translateY(-3px); 
}

.title {
    margin: 0 0 10px 0;
    font-size: 1.1em;
    color: #7f8c8d; 
    font-weight: 500;
}

.value {
    font-size: 2.8em;
    margin: 5px 0;
    font-weight: 800;
    line-height: 1.2;
}

.info {
    color: #95a5a6; 
    display: block;
    margin-top: 5px;
    font-size: 0.85em;
}