.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
  background-color: rgba(0, 0, 0, 0.1); 
}

.wrapper {
  perspective: 800px;
}

.icon {
  width: 100px;  
  height: auto;
  display: block;
  animation: flipRotate3D 2.5s ease-in-out infinite;
  backface-visibility: visible;
  transform-style: preserve-3d;
}

@keyframes flipRotate3D {
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(180deg); 
  }
  100% {
    transform: rotateY(360deg);
  }
}